<div fxLayout="column" fxFlex>

   
  
  Form Naviation Page

  <form [formGroup]="form">

    <search-grid placeholder="Search Page" [recordsFunc]="pageRecords" formControlName="pageFinder" TextField="url" ValueField="url">
      <search-grid-column DisplayColumn="title" HeaderText="Title"></search-grid-column>
      <search-grid-column DisplayColumn="url" HeaderText="Path"></search-grid-column>
    </search-grid>

  </form>
  

  <!--<page-finder></page-finder>

  <navigation-page-entry></navigation-page-entry>-->

  <!--<tree-navigation-builder>Loading</tree-navigation-builder>-->
  
  </div>
