<div fxLayout="column" fxFlex>



  <h3>Navigation</h3>

  <!--<form [formGroup]="form">

    <search-grid placeholder="Search Page" [recordsFunc]="pageRecords" formControlName="pageFinder" TextField="url" ValueField="url">
      <search-grid-column DisplayColumn="title" HeaderText="Title"></search-grid-column>
      <search-grid-column DisplayColumn="url" HeaderText="Path"></search-grid-column>
    </search-grid>

  </form>-->

  <div fxLayout="column" fxFlex>

    <div fxFlex>
      <navigation-page-entry (onAdd)="addTop($event)" (onCancel)="cancelTop()"></navigation-page-entry>
    </div>

    <div fxFlex>
      <tree-navigation-builder>Loading</tree-navigation-builder>
    </div>

    <div fxFlex>
      <button mat-button color="warn" (click)="onRemoveSelectedNodes()">Remove Nodes</button>
    </div>

  </div>




  <!--<page-finder></page-finder>-->
  <!--

  -->
  <!--<tree-navigation-builder>Loading</tree-navigation-builder>-->

</div>
