<image-resize-io-uploader [formControl]="formControl" [formlyAttributes]="field"
                    [thumbnail-missing-image-url]="to.fileResizeIoUploader.thumbnailMissingImageUrl"
                    [thumbnail-aspect-ratio]="to.fileResizeIoUploader.thumbnailAspectRatio"
                    [thumbnail-dimmensions]="to.fileResizeIoUploader.thumbnailDimensions"
                    [preview-flex-size]="to.fileResizeIoUploader.previewFlexSize"
                    [viewer-preserve-aspect-ratio]="to.fileResizeIoUploader.viewerPreserveAspectRatio">
  {{to.placeholder}}
</image-resize-io-uploader>
