<div fxLayout="column" fxFlex="100">

  <div fxLayout="row">

    <div [ngStyle]="{'margin-top.px': 15}">
      <a mat-button [routerLink]="listPath">
        <mat-icon color="primary">chevron_left</mat-icon>
      </a>
    </div>

    <div>
      <h3>{{title}}</h3>
    </div>

  </div>

  <div>

    <formly-form-flex-json [formlyGroup]="formlyGroup"
                           [show-revert]="false"
                           [btn-ready]="btnReadyLabel"
                           [btn-busy]="btnLoadingLabel"
                           [read-only]="false"
                           (onFormSubmit)="formSubmit($event)">
    </formly-form-flex-json>

  </div>

  <div>


    <mat-quill theme="bubble" (onEditorCreated)="onQuillEditorCreated()">
    </mat-quill>


  </div>

</div>
