:host {
  display: flex;
  flex-direction: row;
  width: 100%;

  ::ng-deep {

    .sidebar {
      position: relative;
      min-width: 40px;

      mat-fab-speed-dial {
        position: absolute;
        bottom: 0;
      }
    }

    .ql-container {
      width: 100%;
    }
  }
}
