<div fxLayout="column" fxFlex="100">

    <div fxLayout="column" fxLayoutAlign="start center" [ngStyle]="{'padding-top.px': 30}" *ngIf="working$ | async as loading; else done">
      <mat-progress-spinner mode="indeterminate" [diameter]="30" [strokeWidth]="2"></mat-progress-spinner>
      <span [ngStyle]="{'padding.px': 10}">Loading Items...</span>
    </div>
  
   
  
    <ng-template #done>

      <h3>Media</h3>
      <div fxLayout="row" fxFlex fxLayoutAlign="end center">

        <button mat-button color="primary" (click)="onAdd()">
          Add
          <mat-icon>add</mat-icon>
        </button>

      </div>

      <div fxLayout="row" fxFlex="100" *ngIf="enableSearch">

        <form [formGroup]="form" (ngSubmit)="search()" fxFlex fxLayout="row"  #f="ngForm">

          <ngx-chips formControlName="tags" placeholder="Filter by Tags" fxFlex="80" fxFlex.gt-md="50" maxItems="5"></ngx-chips>

          <div class="search-button-container">

            <loading-button [IsBusy]="searching$ | async" mat-raised-button type="submit">
              <loading-button-ready>
                <mat-icon class="loading-button-icon">search</mat-icon>
              </loading-button-ready>
              <loading-button-busy class="loading-button-busy">
                 
              </loading-button-busy>
            </loading-button>

          </div>

        </form>
      </div>

      <div fxFlex fxLayout="row wrap">
        <ng-container *ngIf="pageItems$ | async as pageItems">

          <ng-container *ngFor="let item of pageItems">
            <media-image-item fxFlex="50" fxFlex.gt-lg="10" fxFlex.gt-md="20" fxFlex.gt-sm="25"
                              (remove)="onRemove($event)"
                              (select)="onSelect($event)"
                              [modeType]="modeType"
                              [image]="item.imageUrl"
                              [tags]="item.tags"
                              [key]="item.Id" ></media-image-item>
          </ng-container>
          

        </ng-container>
      </div>

    </ng-template>

    <div fxFlex>

      <ng-container *ngIf="paginationEnabled$ | async">
        <firebase-pagination (onNextPage)="onNextPage()"
                             (onPreviousPage)="onPrevPage()"
                             [enabled-next]="next$ | async"
                             [enabled-previous]="prev$ | async"></firebase-pagination>

      </ng-container>

    </div>
  
  
  </div>
