:host{
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    img{
        width:100%;
        object-fit:cover;
        object-position:center;
    }
}
