<mat-sidenav-container fullscreen>

  <mat-sidenav #start [opened]="mobileQuery.matches ? false : true" [mode]="mobileQuery.matches ? 'over' : 'side'">

    <mat-accordion>

      <mat-expansion-panel expanded="true" class="noshadow">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Manage Content
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-list>
          <mat-list-item class="menu-list-item">
            <a matLine routerLink="/admin/posts/list">
              <span>Blogs</span>
            </a>
          </mat-list-item>
          <mat-list-item class="menu-list-item">
            <a matLine routerLink="pages/list">
              <span>Pages</span>
            </a>
          </mat-list-item>
          <mat-list-item class="menu-list-item">
            <a matLine routerLink="images">
              <span>Images</span>
            </a>
          </mat-list-item>
          <mat-list-item class="menu-list-item">
            <a matLine routerLink="navigation-builder">
              <span>Navigation</span>
            </a>
          </mat-list-item>
          <mat-list-item class="menu-list-item">
            <a matLine routerLink="roles/list">
              <span>Roles</span>
            </a>
          </mat-list-item>
        </mat-list>

      </mat-expansion-panel>
    </mat-accordion>


  </mat-sidenav>

  <mat-sidenav-content class="side-content" fxLayout="column">

    <mat-toolbar color="primary" fxflex="100">

      <mat-toolbar-row>

        <button mat-icon-button (click)="start.open('mouse')" *ngIf="mobileQuery.matches ? true : false">
          <mat-icon aria-label="menu icon-button with a heart icon">menu</mat-icon>
        </button>

        <span class="app-title">Fire8</span>
        <span class="fill-space"></span>

        <button mat-icon-button mat-raised-button [matMenuTriggerFor]="usermenu">
          <mat-icon aria-label="profile">person</mat-icon>
        </button>

        <mat-menu #usermenu="matMenu" color="primary">
          <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>


      </mat-toolbar-row>

    </mat-toolbar>

    <div class="dashboard-content">
      <router-outlet></router-outlet>
    </div>


  </mat-sidenav-content>

</mat-sidenav-container>
