<mat-sidenav-container fullscreen>

  <mat-sidenav #start [opened]="mobileQuery.matches ? false : true" [mode]="mobileQuery.matches ? 'over' : 'side'">

    <mat-accordion>

      <mat-expansion-panel expanded="true" class="noshadow">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Menu
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-list>
          <mat-list-item class="menu-list-item">
            <a matLine routerLink="/admin/posts/list">
              <span>Blogs</span>
            </a>
          </mat-list-item>
          <mat-list-item class="menu-list-item">
            <a matLine routerLink="pages/list">
              <span>Pages</span>
            </a>
          </mat-list-item>
          <mat-list-item class="menu-list-item">
            <a matLine routerLink="media/list">
              <span>Images</span>
            </a>
          </mat-list-item>
          <mat-list-item class="menu-list-item">
            <a matLine routerLink="navigation-builder">
              <span>Navigation</span>
            </a>
          </mat-list-item>
          <mat-list-item class="menu-list-item">
            <a matLine routerLink="roles/list">
              <span>Roles</span>
            </a>
          </mat-list-item>
        </mat-list>


      </mat-expansion-panel>
    </mat-accordion>

    <!--<mat-list>
      <mat-list-item class="menu-list-item">
        <a matLine [routerLink]="admin/posts/list">
          <span>Blog</span>
        </a>
      </mat-list-item>
    </mat-list>-->

    <!--<ng-container *ngIf="menuItems$ | async as elements">
    <mat-accordion *ngIf="elements.length > 0">
      <mat-expansion-panel expanded="true" class="noshadow">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Menu
          </mat-panel-title>

        </mat-expansion-panel-header>

        <mat-list>
          <ng-container *ngFor="let menu of elements">
            <ng-container *ngIf="menu.Top_Nav_Name != 'Dashboard'; else isDashboard">
              <mat-list-item class="menu-list-item">
                <a matLine [routerLink]="menu.route">
                  <span>{{menu.Top_Nav_Name}}</span>
                </a>
              </mat-list-item>
            </ng-container>
            <ng-template #isDashboard>
              <ng-container *ngIf="dashboardTotal$ | async as dt; else noTotals">
                <mat-list-item class="menu-list-item" [matBadge]="dt">
                  <a matLine [routerLink]="menu.route">
                    <span>{{menu.Top_Nav_Name}}</span>
                  </a>
                </mat-list-item>
              </ng-container>
              <ng-template #noTotals>
                <mat-list-item class="menu-list-item">
                  <a matLine [routerLink]="menu.route">
                    <span>{{menu.Top_Nav_Name}}</span>
                  </a>
                </mat-list-item>
              </ng-template>
            </ng-template>
          </ng-container>

        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>

  </ng-container>-->
    <!--<ng-container *ngIf="menuTasks$ | async as tasks">
    <mat-accordion *ngIf="tasks.length > 0">
      <mat-expansion-panel expanded="true" class="noshadow">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Quick Tasks
          </mat-panel-title>

        </mat-expansion-panel-header>

        <mat-list>
          <mat-list-item *ngFor="let menu of tasks">
            <a matLine [routerLink]="menu.route">{{menu.Left_Nav_LinkName}}</a>
          </mat-list-item>
        </mat-list>


      </mat-expansion-panel>
    </mat-accordion>


  </ng-container>-->



  </mat-sidenav>

  <mat-sidenav-content class="side-content" fxLayout="column">

    <mat-toolbar color="primary" fxflex="100">

      <mat-toolbar-row>

        <button mat-icon-button (click)="start.open('mouse')" *ngIf="mobileQuery.matches ? true : false">
          <mat-icon aria-label="menu icon-button with a heart icon">menu</mat-icon>
        </button>

        <span class="app-title">Fire8</span>
        <span class="fill-space"></span>

        <button mat-icon-button mat-raised-button [matMenuTriggerFor]="usermenu">
          <mat-icon aria-label="profile">person</mat-icon>
        </button>

        <mat-menu #usermenu="matMenu" color="primary">
          <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>


      </mat-toolbar-row>

    </mat-toolbar>

    <div class="dashboard-content">
      <router-outlet></router-outlet>
    </div>


  </mat-sidenav-content>

</mat-sidenav-container>
