<div [ngStyle]="{'padding.px': 30}" [ngStyle.xs]="{'padding.px': 10}">

  <div class="dashboard-container">
    <h2>Manage Content</h2>

    <div class="grid-container">
      <div class="grid-item">
        <mat-card>
          <mat-icon>notes</mat-icon>
          <h4>Posts</h4>
          <a mat-button color="primary" routerLink="./posts">View</a>
        </mat-card>
      </div>
      <div class="grid-item">
        <mat-card>
          <mat-icon>layers</mat-icon>
          <h4>Pages</h4>
          <a mat-button color="primary" routerLink="./pages">View</a>
        </mat-card>
      </div>
      <div class="grid-item">
        <mat-card>
          <mat-icon>photo_library</mat-icon>
          <h4>Image Gallery</h4>
          <a mat-button color="primary" routerLink="./images">View</a>
        </mat-card>
      </div>
      <div class="grid-item">
        <mat-card>
          <mat-icon>account_tree</mat-icon>
          <h4>Navigation Builder</h4>
          <a mat-button color="primary" routerLink="./navigation-builder">View</a>
        </mat-card>
      </div>
      <div class="grid-item">
        <mat-card>
          <mat-icon>lock</mat-icon>
          <h4>Navigation Builder</h4>
          <a mat-button color="primary" routerLink="./roles">View</a>
        </mat-card>
      </div>
    </div>

  </div>

</div>
