<div [ngStyle]="{'padding.px': 30}" [ngStyle.xs]="{'padding.px': 10}">
  Here is where the dashboard should be

  <div class="dashboard-container">

    <div class="grid-container">
      <div class="grid-item">
        <mat-card>
          <mat-icon>notes</mat-icon>
          <h4>Posts</h4>
          <a mat-button color="primary" routerLink="./posts">View</a>
        </mat-card>
      </div>
      <div class="grid-item">
        <mat-card>

        </mat-card>
      </div>
      <div class="grid-item">
        <mat-card>

        </mat-card>
      </div>
    </div>

  </div>

</div>
