
<div class="message-center" [ngStyle.xs]="{'padding.px': 10, 'height.vh': 80}">
  <mat-card>
    <div class="flex-center">
      <mat-icon class="msg-icon">build</mat-icon>
    </div>
    <div class="msg-title" [ngStyle.xs]="{'padding.px': '20'}">
      <h1 [ngStyle.xs]="{'text-align': 'center'}">Oops!.. Site Under construction</h1>
    </div>
    <div class="flex-center">
      <span class="msg-subtitle">Please visit us shortly, We should have a good working site for you soon. We apologize for the inconvinience</span>
    </div>
  </mat-card>
</div>
