
  <div flex="100" fxLayout="column">

    Hi from create
    <div>

      <formly-form-flex-json [formlyGroup]="formlyGroup"
                         [show-revert]="true"
                         btn-ready="Create"
                         btn-busy="Creating..."
                         [read-only]="false"
                         [is-busy]="isPosting$ | async"
                         (onFormSubmit)="formSubmit($event)">
  </formly-form-flex-json>

      <!--<form [formGroup]="formlyGroup.form" (ngSubmit)="submit(model)">
    <formly-form [form]="formlyGroup.form" [fields]="formlyGroup.fields" [model]="formlyGroup.model"></formly-form>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>-->

      <!--<form [formGroup]="form" (ngSubmit)="submit(model)">
        <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>-->

    </div>
    

  </div>
