<mat-form-field>
  <mat-chip-list #chipList>
    <mat-chip *ngFor="let ele of _array"
              [selectable]="selectable"
              [removable]="removable"
              (removed)="remove(ele)">
      {{label(ele)}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input [placeholder]="placeholder"
           #elementInput
           [matAutocomplete]="auto"
           [matChipInputFor]="chipList"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           [matChipInputAddOnBlur]="addOnBlur"
           (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let ele of _options" [value]="ele">
      {{label(ele)}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
