@import 'styles-variables';

:host {
  h1 {
    color: $mat-color-primary;
  }

  ::ng-deep {
    .content-container {
      * img {
        max-width: 100%;
      }

      h1, h2, h3 {
        color: $mat-color-primary;
      }
    }
  }
}
