<div [ngStyle]="{'padding.px': 30}" [ngStyle.xs]="{'padding.px': 10}">

  <div fxLayout="column" fxFlex="100">

    <div fxLayout="column" fxLayoutAlign="start center" [ngStyle]="{'padding-top.px': 30}" *ngIf="working$ | async as loading; else done">
      <mat-progress-spinner mode="indeterminate" [diameter]="30" [strokeWidth]="2"></mat-progress-spinner>
      <span [ngStyle]="{'padding.px': 10}">Loading..</span>
    </div>

    <ng-template #done>

      <ng-container *ngIf="post$ | async as post">

        <ng-container *ngIf="post.title">
          <h1>{{post.title}}</h1>
        </ng-container>
        <ng-container *ngIf="post.body">

          <div class="content-container" [innerHtml]="post.body | dompurify"></div>

        </ng-container>

      </ng-container>

    </ng-template>

  </div>

</div>
