<div [ngStyle]="{'padding.px': 30}" [ngStyle.xs]="{'padding.px': 10}">

  <div fxLayout="column" fxFlex="100">

    <div fxLayout="column" fxLayoutAlign="start center" [ngStyle]="{'padding-top.px': 30}" *ngIf="working$ | async as loading; else done">
      <mat-progress-spinner mode="indeterminate" [diameter]="30" [strokeWidth]="2"></mat-progress-spinner>
      <span [ngStyle]="{'padding.px': 10}">Loading..</span>
    </div>

    <ng-template #done>

      <div fxLayout="row">
        <div [ngStyle]="{'margin-top.px': 15}">
          <a mat-button routerLink="/blogs">
            <mat-icon color="primary">chevron_left</mat-icon>
          </a>
        </div>
        <h5>Posts</h5>
      </div>

      <ng-container *ngIf="post$ | async as post">

        <div class="post-content">

          <ng-container *ngIf="post.title">
            <h1>{{post.title}}</h1>
          </ng-container>
          <ng-container *ngIf="post.body">

            <div class="content-container" [innerHtml]="post.body | safeHtml"></div>

          </ng-container>
        </div>

      </ng-container>

    </ng-template>

  </div>

</div>
