@import 'styles-variables';

:host {
  h1, h2, h3, h4, h5 {
    color: $mat-color-primary;
  }

  ::ng-deep {
    .content-container {
      * img {
        max-width: 100%;
      }

      h1, h2, h3 {
        color: $mat-color-primary;
      }

      hr {
        border: none;
        color: #111;
        letter-spacing: 1em;
        text-align: center;
      }

      hr:before {
        content: '...';
        font-size: 25px;
        font-weight: bold;
      }
    }
  }
}
